---
import { SERVICES } from '@/consts/services';
import { SOCIALS } from '@/consts/socials';
import formatPhone from '@utils/format-phone-number';
import Icon from './Icon.astro';

const SOCIAL_BUTTONS_DATA = [
  {
    name: 'whatsapp',
    icon: 'whatsapp',
    href: SOCIALS.find(social => social.name === 'whatsapp')?.url,
    styles: 'bg-green-500 hover:bg-green-600',
  },
  {
    name: 'instagram',
    href: SOCIALS.find(social => social.name === 'instagram')?.url,
    icon: 'instagram',
    styles:
      'bg-gradient-to-r from-purple-500 to-pink-500 hover:from-purple-600 hover:to-pink-600',
  },
];

const SCHEDULES = [
  { day: 'Lunes a Viernes', hours: '9:00 - 18:00' },
  { day: 'Sábados', hours: '9:00 - 13:00' },
  { day: 'Domingos', hours: 'Cerrado' },
];
---

<footer class="bg-gray-900 text-white">
  <div
    class="mx-auto flex max-w-7xl flex-col flex-wrap gap-8 px-4 py-12 sm:px-6 md:flex-row lg:px-8"
  >
    <div class="grid gap-8 md:grid-cols-2">
      {/* Logo and Description */}
      <div class="flow">
        <div class="flex items-center gap-3">
          <Icon name="logo" class="size-12" />
          <div>
            <h3 class="text-xl font-bold">EM Servicios</h3>
            <p class="text-gray-400 italic">Reparación y mantenimiento</p>
          </div>
        </div>
        <p class="leading-relaxed text-gray-400 md:text-balance">
          Somos especialistas en reparación de dispositivos electrónicos.
          Garantía, calidad y atención personalizada en cada trabajo.
        </p>
        <div class="flex gap-4">
          {
            SOCIAL_BUTTONS_DATA.map(button => (
              <a
                href={button.href}
                target="_blank"
                rel="noopener noreferrer"
                class={`rounded-lg p-2 transition-colors ${button.styles}`}
              >
                <Icon name={button.icon} class="size-5" />
              </a>
            ))
          }
        </div>
      </div>

      <div class="grid grid-cols-[repeat(auto-fit,_minmax(180px,_1fr))] gap-4">
        {/* Services */}
        <div>
          <h3 class="mb-0.5 font-semibold">Servicios</h3>
          <ul class="text-gray-400">
            {SERVICES.map(service => <li>{service.title}</li>)}
          </ul>
        </div>

        {/* Schedules */}
        <div>
          <h3 class="mb-0.5 font-semibold">Horarios</h3>
          <ul class="text-gray-400">
            {
              SCHEDULES.map(schedule => (
                <li>
                  {schedule.day}: {schedule.hours}
                </li>
              ))
            }
          </ul>
        </div>

        {/* Contact */}
        <div>
          <h3 class="mb-0.5 font-semibold">Contacto</h3>
          <ul class="text-gray-400">
            <li class="flex items-center gap-2">
              <Icon name="map-pin" class="size-4" />
              <span>12 de Octubre - 335</span>
            </li>
            <li class="flex items-center gap-2">
              <Icon name="phone" class="size-4" />
              <span>
                {
                  formatPhone(
                    SOCIAL_BUTTONS_DATA?.find(
                      social => social.name === 'whatsapp'
                    )?.href || ''
                  )
                }
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
