---
import { SERVICES } from '@/consts/services';
import Icon from '@/components/Icon.astro';
import {
  PHONE_INFO,
  SCHEDULE_INFO,
  ADDRESS_INFO,
  EMAIL_INFO,
  IG_INFO,
} from '@/consts/contactInfo';
import cn from '@/utils/cn';
---

<footer class="bg-gray-900 text-white">
  <div class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8">
    <div class="grid gap-12 md:grid-flow-col md:gap-8 lg:gap-12">
      {/* Logo and Description */}
      <div class="flow">
        <div class="flex items-center gap-2">
          <Icon name="logo" class="size-12" />
          <div>
            <h3 class="text-xl font-bold">EM Servicios</h3>
            <p class="text-gray-400 italic">Reparación y mantenimiento</p>
          </div>
        </div>
        <div class="leading-relaxed text-gray-400">
          <p>Somos especialistas en reparación de dispositivos electrónicos.</p>
          <p>Garantía, calidad y atención personalizada en cada trabajo.</p>
        </div>
        <ul class="flex gap-4">
          {
            [PHONE_INFO, IG_INFO].map(social => (
              <li>
                <a
                  href={social.href}
                  target="_blank"
                  rel="noopener noreferrer"
                  class={cn(
                    'rounded-lg p-2 transition-colors',
                    social.styles.callToAction
                  )}
                  aria-label={`Contactarme por ${social.name}`}
                >
                  <Icon name={social.icon} class="size-6" />
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="flex flex-wrap gap-4 lg:flex-nowrap xl:justify-between">
        {/* Services */}
        <div>
          <h3 class="mb-0.5 text-lg font-semibold">Servicios</h3>
          <ul class="text-gray-400">
            {SERVICES.map(service => <li>{service.title}</li>)}
          </ul>
        </div>

        {/* Schedules */}
        <div>
          <h3 class="mb-0.5 text-lg font-semibold">Horarios</h3>
          <ul class="text-gray-400">
            {
              Array.isArray(SCHEDULE_INFO.data) &&
                SCHEDULE_INFO.data.map(schedule => <li>{schedule}</li>)
            }
          </ul>
        </div>

        {/* Contact */}
        <div>
          <h3 class="mb-0.5 text-lg font-semibold">Contacto</h3>
          <ul class="text-gray-400">
            {
              [ADDRESS_INFO, PHONE_INFO, EMAIL_INFO].map(contactInfo => (
                <li class="flex items-center gap-2">
                  <Icon name={contactInfo.icon} class="size-4 shrink-0" />
                  <span>{contactInfo.data}</span>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
